</div>
<div class="footer-padding"></div>
<div class="footer">
    <a href="http://twitter.com/ommieness"><i class="fab fa-twitter"></i></a>
    <a href="http://instagram.com/nahii_aye"><i class="fab fa-instagram"></i></a>
    <a href="http://github.com/nahiaye"><i class="fab fa-github"></i></a> © 2021 NAHOM SILESHI
</div>
</div>
</body>

</html>