<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="description" content="A blog website used to compose new blogs and upload them.">
    <title>Daily Journal</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu|Montserrat|Sacramento" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">MY BLOG</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li id="home"><a href="/">HOME</a></li>
                <li id="publish"><a href="/compose">COMPOSE</a></li>
                <li id="about"><a href="/about">ABOUT</a></li>
                <li id="contact"><a href="/contact">CONTACT</a></li>
            </ul>
        </div>
    </nav>

    <body>
        <div class="container">